body{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
/* header area design start */
.header{
    background-image: url(img/slider-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.navbar-brand{
    font-size: 40px;
    font-family: 'Pacifico', cursive; 
}
.navbar-brand a{
    color:#ffffff !important;
    text-decoration: none;
}
.social-icon ul li{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
    line-height: 40px;
    margin-top: 14px;
    cursor: pointer;
}
.social-icon ul li a:hover{
    color: skyblue;
  
}
.social-icon ul li a{
    color: #686666;
    font-size: 20px;
    
}
/* its for menu part */
.menu ul li{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 0px 10px;
}
.menu ul li:first-child{
    padding-left: 0;
}
.menu ul li a{
    color: #ffffff !important;
    text-transform: uppercase;
    transition: 0.5s all ease;
}
.menu ul li a:hover{
    color: #87b672 !important;
}
.navbar {
	padding-left: 0px;
	margin-left: -195px;
	padding-right: 0px;
}
.search{
    color: #ffffff;
    cursor: pointer;
}

/* header area design end */
/* slider part start */
.slider-content{
    padding: 50px 0;
}
.slider-content h1{
    font-size: 36px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 60px;
}
.slider-content p{
    font-size: 22px;
    color: #ffffff;
}
.btn-slide{
    border: 2px solid #ffffff;
    padding: 6px 15px;
    border-radius: 0;
    color: #ffffff;
    font-weight: 500;
    margin: 20px 0 50px 0;
}
.btn-slide:hover{
    color: #87b672 !important;
}
.carousel-indicators li{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ffffff;
    transition: all 0.5s;
}
.carousel-indicators li:hover{
    transform: scale(1.2);
}

.carousel-indicators .active{
    transform: scale(1.2);
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-image: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ffffff;
    line-height: 35px;
    
}
.carousel-control-prev-icon i, .carousel-control-next-icon i{
    color: #686666;
    font-size: 18px;
    
}
.carousel-control-prev-icon {
	position: absolute;
	top: 31%;
	left: 0;
}
.carousel-control-next-icon {
    position: absolute;
	top: 31%;
	right: 0px;
}

/* slider part end */
/* service part end */
.service{
    padding: 80px 0;
}
.common-title h3{
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    color: #666262;
    padding-bottom: 20px;
}
.common-title p{
    font-size: 15px;
    color: #666262;
    padding-bottom: 40px;
}

.icon i{
    font-size: 100px;
    padding-bottom: 25px;
    color: #b9b7b7;
}
.service-content h3{
    font-size: 18px;
    color: #686666;
    padding-bottom: 15px;
}
.service-content h6{
    color: #87b672;
}
.service-content p{
    color: #686666;
}
/* service part start */

/* protfollio part start */
.protfollio{
    padding: 80px 0 100px 0;
    background-color: #efefef;
}
.port-imgage{
    padding-bottom: 80px;
}
.single-img{
    margin-top: -168px;
}
.single-img-2{
    margin-top: -150px;
}
.single-img h4, .single-img-2 h4{
    color: #666262;
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 15px;
    margin-bottom: 40px;
}

.top-margin{
    margin-top: 45px;
}

.btn-custom{
    background-color: #87b672;
    color: #ffffff;
    font-weight: 500;
    border-radius: 0;
    padding: 6px 15px;
    transition: 0.5s all;
}

.btn-custom:hover{
    border: 2px solid #87b672;
    color: #87b672;
    background-color: transparent;
}
/* protfollio part end */



/* font-family: 'Pacifico', cursive; */